.programsSectionForVideoLink{
	margin-top: 10px;
	margin-bottom: 5px;r
}
.topprogramssection{
	width: 100%;
 	margin-top: 60px;
 	background-image: linear-gradient(120deg, #f0ad4e 0%, #d9534f 100%);
 	font-size: 17px;
}
.topprogramssection h3{
	margin-top: 5px;
	color: #f7f7f7;
}
.videosLinkSection{
	width: 100%;
	background-color: #f7f7f7;
	margin-top: 5px;
}
.videosLinkSection .headingDiv{
	padding: 5px;
  	text-align: center;
  	background-color: #e5eecc;
  	border: 1px solid #c3c3c3;
}
.videosLinkSection .headingDiv:hover{
	color: blue;
	cursor: pointer;
}
.videosLinkSection .programsLinkArea{
  	text-align: center;
  	background-color: #e5eecc;
  	display: none;
  	border: 1px solid #c3c3c3;
}
.videosLinkSection .singlyLinkedList, .doublyLinkedList, .linearSreach, 
.binarySreach, .arraysProgram, .recursionPrograms, .treesPrograms, .heapPrograms{
	font-size: 25px;
}






